# Agenda

1. String in a series
2. Data frame
    - Creating
    - Retrieving from a data frame
    - Methods on a data frame

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s = Series([10, 20, 30])
s

0    10
1    20
2    30
dtype: int64

In [4]:
s = Series([10, 20, 30], dtype=np.int8)
s

0    10
1    20
2    30
dtype: int8

In [5]:
s.dtype

dtype('int8')

In [6]:
s.dtype = np.float16

AttributeError: property 'dtype' of 'Series' object has no setter

In [7]:
s.astype(np.float16)

0    10.0
1    20.0
2    30.0
dtype: float16

In [8]:
a = np.array('hello out there'.split())
a

array(['hello', 'out', 'there'], dtype='<U5')

In [9]:
s = Series('hello out there'.split())

In [10]:
s

0    hello
1      out
2    there
dtype: object

In [12]:
# I want the length of each word

# don't ever do this!
for one_word in s:
    print(len(one_word))

5
3
5

In [13]:
s.str       # str accessor

In [14]:
s.str.len()

0    5
1    3
2    5
dtype: int64

In [15]:
# which words have 'e' in them?

s.str.contains('e')

0     True
1    False
2     True
dtype: bool

In [16]:
s.loc[s.str.contains('e')]

0    hello
2    there
dtype: object

In [17]:
s

0    hello
1      out
2    there
dtype: object

In [18]:
s = Series('hello out there'.split(),
          index=list('xyz'))
s

x    hello
y      out
z    there
dtype: object

In [19]:
s.loc['x']

'hello'

In [20]:
s.iloc[0]

'hello'

# Exercise: String practice

1. Define a series with 10 words.
2. Find all of the words with odd lengths.
3. Find all of the words with below-average lengths.
4. Find all words containing 'a' or 'e'.