# Agenda for today

## First, the debugger

In [1]:
def mysum(*numbers):
    total = 0
    for one_number in numbers:
        total += one_number
    return total

In [2]:

mysum(10, 20, 30)

60

In [3]:
mysum(100, 200, 300)

600

In [5]:
mysum([10, 20, 30])

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

## Next, serious stuff

### Serious 1

### Serious 2

### Serious 3

# Final stuff

Hello!

# Actual agenda

1. Multi-indexing
2. Sorting
3. Grouping
4. Pivot tables

Download the data files from here:

https://files.lerner.co.il/pandas-workout-data.zip

In [7]:
import pandas as pd
from pandas import Series, DataFrame

In [8]:
import numpy as np

In [9]:
df = DataFrame(np.random.randint(0, 1000, [4, 5]),
               index=list('abcd'),
               columns=list('vwxyz'))

In [10]:
df

     v    w    x    y    z
a   40  128  238  840  321
b  288  748  292  867  939
c  917  942  832  391  657
d  945  345  211  343  525