In [1]:
def mysum(*numbers):
    total = 0
    for one_number in numbers:
        total += one_number
    return total

In [2]:

mysum(10, 20, 30)

60

In [3]:
mysum(100, 200, 300)

600

In [5]:
mysum([10, 20, 30])

TypeError: unsupported operand type(s) for +=: 'int' and 'list'